.mainPage{
    background-color: rgb(25, 31, 40);
}

.mainIntroSection{
    height: 250vh;
    width: 100%;
}

.mainStory1{
    background-color: #256dda;
}

.mainStory2{
    background-color: #fb6250;
}