//처음은 꽉찬 화면 -> 스크롤하면 작아짐

.introContentVid{
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 1;
}

.introStarter{
    h2{
        color: #fff;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        font-size: 80px;
        line-height: 1.3;
        font-weight: 900;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
}