@import url('https://static.toss.im/tps/main.css');
@import url('https://static.toss.im/tps/others.css');

* {
  font-family: 'Toss Product Sans';
}

.Container{
    max-width: 1140px;
    width: 100%;
    height: 100%;
    margin: auto;
}

a, button, img {
    cursor: pointer;
    text-decoration: none;
}

body{
    font-family: Helvetica,Arial,sans-serif;
}

h3,p{
    margin: 0;
}

h3{
    font-size: 36px;
}